<div align="center">
    <h1>Execution Environments</h1>
    <strong>
    A suite of Ansible execution environments, utilized for demonstration and testing purposes
    </strong><br><br>
</div>
<hr>
<div align="center">

Container | Image | Latest Tags
---|---|---
{% for environment in environments | sort(attribute="name") -%}
[{{ environment.name }}]( https://ghcr.io/nickarellano/ee-{{ environment.name }} ) | ghcr.io/nickarellano/ee-{{ environment.name }} | {{ environment.tag }}
{% endfor %}
</div>
